body {
    margin: 0;
    padding: 0;
    background-color: rgb(216, 237, 254);
    font-family: Arial, Helvetica, sans-serif;
}
.app-container {
    max-width: 600px;
    margin: 0 auto;
}
header {
    margin-top: 1rem;
    width: 100%;
}
.logo {
    width: 380px;
    height: 4rem;
    display: block;
    margin: auto;
}
.form-container {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.form-container > form {
    margin: auto;
    padding-top: 2.5rem;
}
#search-bar {
   padding: 10px;
   width: 13.5rem;
   margin-right: 5px;
   border: none;
   border-radius: 4px;
   background-color: rgb(221, 237, 249);
}
#search-button {
    padding: 10px;
    width: 6.5rem;
    background: rgb(132, 194, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 1rem;
}

#current-city {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}
#current-weather {
    line-height: 1.5;
    font-size: 12px;
    position: relative;
    bottom: 1rem;
}
.weather-span {
    color: rgb(253, 21, 21);
    font-weight: 700;
}

.temp-emoji {
    font-size: 28px;
    position: relative;
    bottom: 10px;
    left: 7px;
}
.temp-value {
    font-size: 55px;
    font-weight: 700;
}
.temp-unit {
    font-size: 15px;
    position: relative;
    bottom: 25px;
    font-weight: 600;
}
footer {
    font-size: 11px;
    margin-top: 1.5rem;
    text-align: center;
    line-height: 1.5;
}